In [2]:
%load_ext sql
%sql sqlite:///chinook.db

## Задание 1
Вывести страну, где популярнее всего группа Iron Maiden (т.е. треков куплено больше, чем в других странах).

In [5]:
%%sql
select c.Country as Country, sum(ii.Quantity) as Bought_Tracks
    from customers c
    join invoices i
        on c.CustomerId = i.CustomerId
    join invoice_items ii
        on i.InvoiceId = ii.InvoiceId
    join tracks t
        on ii.TrackId = t.TrackId
    join genres g
        on g.GenreId = t.GenreId
where g.Name like "Jazz" and c.Country is not null
group by c.Company;

 * sqlite:///chinook.db
Done.

[('Canada', 69),
 ('USA', 2),
 ('USA', 2),
 ('Czech Republic', 3),
 ('USA', 2),
 ('Canada', 2)]

## Задание 2
Вывести альбом, который является максимальным по продолжительности среди альбомов со стоимостью, большей средней цены за альбом *(цена альбома - сумма цен треков)*.

## Задание 3
Вывести общую стоимость треков, приобретённых компаниями (только клиентами из конкретных компаний), которые обслуживались сотрудниками, нанятыми после 3 августа 2002 года.

## Задание 4
Для каждого альбома определить все жанры песен, которые в нём есть и количество песен по каждому жанру (формат вывода: альбом, жанр, количество).
Выводить только те альбомы, где жанров больше одного.

## Задание 5
Для каждого артиста (таблицы Artists), у которых есть песни нескольких жанров, найти жанр, по которому он заработал наибольшее количество денег, а также вывести соотношение суммы, заработанной артистом по этому жанру к общей сумме заработанных денег. Если по нескольким жанрам заработано одинаковое количество денег, максимальное для артиста, то выбирается жанр раньше по алфавиту. Формат вывода: артист, жанр, соотношение.