In [1]:
%load_ext sql
%sql sqlite:///chinook.db

## Задание 1
Вывести названия всех групп, их песен и названия их альбомов для всех треков жанра Rock, приобретенные сотрудниками Microsoft.

In [4]:
%%sql
select ar.Name as Artist, al.Title as Album, t.Name as Track
    from invoice_items ii
    join tracks t
        on ii.TrackId = t.TrackId
    join genres g
        on t.GenreId = g.GenreId
    join albums al
        on al.AlbumId = t.AlbumId
    join artists ar
        on al.ArtistId = ar.ArtistId
    join invoices i
        on ii.InvoiceId = i.InvoiceId
    join Customers c
        on i.CustomerId = c.CustomerId
where c.Company LIKE "Microsoft%" AND g.Name LIKE "Rock";

 * sqlite:///chinook.db
Done.

[("Guns N' Roses", 'Use Your Illusion I', "Double Talkin' Jive"),
 ("Guns N' Roses", 'Use Your Illusion I', 'The Garden'),
 ("Guns N' Roses", 'Use Your Illusion I', "Don't Damn Me"),
 ("Guns N' Roses", 'Use Your Illusion I', 'Dead Horse'),
 ('Foo Fighters', 'In Your Honor [Disc 1]', 'No Way Back'),
 ('Foo Fighters', 'In Your Honor [Disc 2]', 'Still'),
 ('Foo Fighters', 'In Your Honor [Disc 2]', 'Razor'),
 ('Foo Fighters', 'The Colour And The Shape', 'My Hero')]

## Задание 2
Вывести 10 самых больших по размеру треков жанра Blues и формата MPEG (используйте команду LIMIT 10). Только название и автор.

In [5]:
%%sql
select ar.Name as Artist, t.Name as Track
    from tracks t
    join genres g
        on t.GenreId = g.GenreId
    join media_types mt
        on t.MediaTypeId = mt.MediaTypeId
    join albums al
        on al.AlbumId = t.AlbumId
    join artists ar
        on al.ArtistId = ar.ArtistId
where g.Name LIKE "Blues" AND mt.Name LIKE "MPEG%"
order by t.Bytes desc
limit 10;

 * sqlite:///chinook.db
Done.

[('Buddy Guy', "Talkin' 'Bout Women Obviously"),
 ('Stevie Ray Vaughan & Double Trouble', 'Riviera Paradise'),
 ('The Black Crowes', 'Title Song'),
 ('Eric Clapton', 'Old Love'),
 ('The Black Crowes', 'Wiser Time'),
 ('Buddy Guy', 'Stone Crazy'),
 ('Eric Clapton', 'Layla'),
 ('The Black Crowes', 'Girl From A Pawnshop'),
 ('The Black Crowes', 'Sometimes Salvation'),
 ('Eric Clapton', 'Running On Faith')]

## Задание 3
Для каждой компании вывести общее количество купленных джазовых композиций.

In [12]:
%%sql
select c.Company as Company, sum(ii.Quantity) as Bought_Tracks
    from customers c
    join invoices i
        on c.CustomerId = i.CustomerId
    join invoice_items ii
        on i.InvoiceId = ii.InvoiceId
    join tracks t
        on ii.TrackId = t.TrackId
    join genres g
        on g.GenreId = t.GenreId
where g.Name like "Jazz" and c.Company is not null
group by c.Company

 * sqlite:///chinook.db
Done.

[('Apple Inc.', 2),
 ('Google Inc.', 2),
 ('JetBrains s.r.o.', 3),
 ('Microsoft Corporation', 2),
 ('Telus', 2)]

## Задание 4
Вывести топ 3 альбома по продолжительности (продолжительность альбома - сумма длин треков в нём). Только название и продолжительность.

## Задание 5
Для каждого набора (жанр, тип медиа) вывести среднюю цену по стоимости трека и их общее количество, причем вывести только те наборы, для которых **все** треки стоят больше 1,5$ и для которых в наборе есть хотя бы один трек.